
        
#googlelogo {
    margin: auto;
    width: 275px;
    display: block;
    margin-top: 160px;
    margin-bottom: 25px;                      
    }

nav li {
    display: inline;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
    }

nav ul {
    list-style-type: none;           
    padding: 0px 10px 0px 10px;
    display: inline;
    position: fixed;
    top: 0px;
    width: 95%;
    color: black;
    } 

a:link {
    text-decoration: none;            
    }

#apps {
    border: none;
    width: 30px;
    height: 30px;
    background: url("google sprites.png") -135px -45px;
    }
     
#button {
    background-color: #322fdb;
    border: none;
    color: white;
    padding: 7px 15px;
    text-align: center;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 2px;
    position: relative;
    bottom: 5px;
    left: 15px;
    }

footer li {                       
    display: inline;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: black;
    }

footer ul {
    list-style-type: none;
    margin: 0px;
    display: inline;
    position: fixed;
    bottom: 0px;
    width: 98%;
    background-color: #f1f1f1;
    border-width: 1px;
    border-style: solid;
    border-color: #f1f1f1;
    padding: 10px 10px 10px 10px;
    }

#footer {
    position: fixed;
    bottom: 0px;
    left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    }

 
input[type=text] {
    width: 575px;
    height: 42px;
    border-radius: 20px;
    border-color: transparent;       
    background-color: white;
    box-shadow: 0px 0px 3px rgb(148, 153, 148);
    background-image: url("icon-search.jpg");
    background-position: 10px 7px;
    background-repeat: no-repeat;
    padding-left: 40px;
    }

center {
    position: relative;
    margin: auto;
    }

input[type=submit] {
    position: relative;
    margin-left: 20px;
    margin-top: 30px;
    border: none;
    background-color: #f1f1f1;            
    height: 30px;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: gray;
    }

input[type=submit]:hover {
    border: 1px solid #c6c6c6
    }